/* Let the sidebar start at the same position as the headline text. */
.sidebar-nav {
	margin-top: 20px;
}

/* small is too large by default (IMHO). */
small {
	font-size: 75%;
}

dt > small {
	font-weight: normal;
}

/* We don't want the content of a dl-horizontal to center. */
.dl-horizontal dd {
	margin-left: 0;
}

/* Ensure that there's not too much space between dt and dd. */
.dl-horizontal dt {
	text-align: left;
	width: auto;
	padding-right: 1em;
}

.textcontainer p {
	padding: 15px;
}

.textonly {
	padding: 10px 15px;
}
