module.exports.getDatabasePath = function() { return './database.sqlite'; }
module.exports.getRealDownloadBaseUrl = function() { return 'http://localhost:3000'; }
module.exports.getDownloadProxyBaseUrl = function() { return module.exports.getRealDownloadBaseUrl() + '/download-rom'; }
