extends layout

block append vars
  - var currentSelecteDeviceId = page.metadata.id

  - var romsForCurrentDevice = []
  - for (var i in contents.roms) {
  -   var romMetadata = contents.roms[i].metadata
  -   if (romMetadata.rom.romVariant.device.id == page.metadata.id) {
  -     romsForCurrentDevice.push(romMetadata)
  -   }
  - }

block prepend title
  if page.metadata.displayName
    | #{page.metadata.displayName} - 
  | #{page.metadata.name} | 

block sidebarmiddle
  include romvariantfiltersidebar
  include updatetypefiltersidebar
  mixin romvariantfiltersidebar(currentSelecteDeviceId)
  mixin updatetypefiltersidebar()

block content
  include romtable

  h1
    b Browse files for
      if page.metadata.displayName
        i  #{page.metadata.displayName} -
      |  #{page.metadata.name}
  mixin romtable(romsForCurrentDevice)

block prepend footer
