extends layout

block sidebarmiddle
  include updatetypefiltersidebar
  mixin updatetypefiltersidebar()

block content
  include romtable

  h1
    | All files for
    if page.metadata.displayName
      i  #{page.metadata.displayName} -
    |  #{page.metadata.name}
  mixin romtable(page.metadata.roms)

block prepend footer
