extends layout

block append vars
  - var allRoms = [];
  - for (device in contents.devices) {
  -   allRoms = allRoms.concat(contents.devices[device].metadata.roms);
  - }
  - allRoms.sort(function(a, b) {
  -   return new Date(b.createdAt) - new Date(a.createdAt);
  - });

block sidebarmiddle
  include updatetypefiltersidebar
  mixin updatetypefiltersidebar()

block content
  include romtable

  h1
    b Browse files for all devices
  mixin romtable(allRoms)

block prepend footer
