extends layout

block append vars
  - var selectedDeviceId = 'all'

  - var allRoms = []
  - for (var i in contents.roms) {
  -   allRoms.push(contents.roms[i].metadata)
  - }

block sidebarmiddle
  include updatetypefiltersidebar
  mixin updatetypefiltersidebar()

block content
  include romtable

  h1
    b Browse files for all devices
  mixin romtable(allRoms)

block prepend footer
