extends layout

block append vars
  - var currentSelecteDeviceId = page.metadata.DeviceId

  - var romsForCurrentVariant = []
  - for (var i in contents.roms) {
  -   var romMetadata = contents.roms[i].metadata
  -   if (romMetadata.rom.romVariant.id == page.metadata.id) {
  -     romsForCurrentVariant.push(romMetadata)
  -   }
  - }

block prepend title
  if page.metadata.displayName
    | #{page.metadata.displayName}

block sidebarmiddle
  include romvariantfiltersidebar
  include updatetypefiltersidebar
  mixin romvariantfiltersidebar(currentSelecteDeviceId)
  mixin updatetypefiltersidebar()

block content
  include romtable

  h1
    b Browse files for build
      if page.metadata.displayName
        i  #{page.metadata.displayName} -
  mixin romtable(romsForCurrentVariant)

block prepend footer
