mixin updatetypefiltersidebar()
  div.sidebar-nav.well.hidden(data-filter-area-for='.col-updatechannel', data-visible-with-js-enabled)
    ul.nav.nav-pills.nav-stacked
      li.nav-header
        h3 Type
      li.active
        a(href='#', data-filter-value='', title="Show the files for all update-types") all
